# unlock script for openocd for STM32L431 MCUs
source [find target/stm32l4x.cfg]
init

set FLASH_CR      0x40022014
set FLASH_SR      0x40022010
set FLASH_KEYR    0x40022008
set FLASH_OPTKEYR 0x4002200C
set FLASH_OPTR    0x40022020

set FLASH_PCROPA_START 0x40022024
set FLASH_PCROPA_END   0x40022028

set FLASH_WPA 0x4002202C
set FLASH_WPB 0x40022030

set KEY1 0x45670123
set KEY2 0xCDEF89AB
set OPT_KEY1 0x08192A3B
set OPT_KEY2 0x4C5D6E7F

echo "Using full firmware $BOOTLOADER"

# function to wait for some bits to clear
proc wait_till_clear { register bits } {
    # always wait 10ms
    sleep 10
    set v [mrw $register]
    while {[expr {$v & $bits}] != 0} {
        #echo "reg [format 0x%08x $register] [format 0x%08x $v] [format 0x%08x $bits]"
        sleep 1
        set v [mrw $register]
    }
}

proc show_register { register } {
     set v [mrw $register]
     echo "reg [format 0x%08x $register] [format 0x%08x $v]"
}

echo "FLASH_CR [format 0x%08x [mrw $FLASH_CR]]"

halt

echo "erase bootloader, firmware and EEPROM (0x20000)"
flash erase_address 0x08000000 0x20000

echo "Load"
flash write_bank 0 $BOOTLOADER

echo "verify"
flash verify_bank 0 $BOOTLOADER

echo "Success!"
exit
